<!--
@using MudBlazor
@namespace CapstoneMaui.Core.Components.Pages
@inject NavigationManager Nav

@page "/manager"


Archived as this approach was just causing more issues than solving them

<style>
	.topBar {
	width: 100%;
	}
</style>

<div class="topBar"> 
	<MudSelect @bind-Value="action" Label="Select Action" Variant="Variant.Outlined" Placeholder="Page">
		<MudSelectItem Value=0>Dashboard</MudSelectItem>
		<MudSelectItem Value=1>Status</MudSelectItem>
		<MudSelectItem Value=2>Schedule</MudSelectItem>
		<MudSelectItem Value=3>Progress</MudSelectItem>
		<MudSelectItem Value=4>New Jobsite</MudSelectItem>
		<MudSelectItem Value=5>Account Management</MudSelectItem>
	</MudSelect>
</div>

@switch (action)
{
	case 0:
		<ManagerDashboard/>
		break;
	case 1:
		<ManagerStatus/>
		break;
	case 2:
		<ManagerSchedule/>
		break;
	case 3:
		<ManagerProgress/>
		break;
	case 4:
		<ManagerNewJobsite/>
		break;
	case 5:
		<ManagerManageAccount/>
		break;
	default:
		break;
}

<ManagerBottomBar/>


@code {
	private int action;
}
-->