@using MudBlazor
@namespace CapstoneBlazorApp.Components.Pages
@inject NavigationManager Nav

@page "/manager-progress"

<style>
	.users {
	  display: flex;
	  justify-content: space-between;
	  flex-wrap: wrap;
	}
	.border {
		border-style: solid;
		border-width: 1px;
	}
	.textStandard {
		font-size: 20px; 
		font-weight:bold;
	}
	.headingText {
		display: flex;
		justify-content: space-between;
		margin-left: 5px;
		margin-right: 5px;
	}
	.marginStandard {
		margin-left: 20px;
		margin-right: 20px;
	}
	.inputStyle {
		border-style: solid;
		border-width: 1px; 
		border-color: black;
	}
</style>
<ManagerTopBar action="3"/>

<div class="headingText textStandard">
	<div>Employee</div>
	<div>Job Site</div>
</div>



<MudDivider DividerType="DividerType.Middle"/>

<div class="ma-0" style="height:300px;overflow: auto; ">
	<MudPaper Elevation="0"Outlined="true" Height="1000px">
		@foreach (var name in _namePlaceholder)
		{
				<div style="margin-bottom: 10px;" class="users border">
					<!--Holds the users name-->
					<div class="usersElement textStandard marginStandard">
					@name
					</div>
					<!--Holds the request type-->
					<div class="usersElement textStandard marginStandard">
						Example
					</div>
					<!--Holds the (optional) text the user supplies, default to "no reason provided" if no text to save messing with formatting again?-->
					<div class="usersElement" style="width:100%;">
						<p class="border">Example Reason</p>
					</div>
				</div>
		}
	</MudPaper>
</div>

<div class="headingText textStandard">
	<div>To Do</div>
	<div></div>
</div>

<div class="ma-0" style="height:200px;overflow: auto; ">
	<MudPaper Elevation="0"Outlined="true" Height="1000px">
		@foreach (var todo in _todoPlaceholder)
		{
					<div style="margin-bottom: 10px;" class="users border">
						<!--Holds the users name-->
						<div class="usersElement textStandard marginStandard">
							@todo
						</div>
					</div>


		}
	</MudPaper>
</div>

<div class="headingText textStandard">
	<div><input type="text" placeholder="Enter to do..." class="inputStyle"/></div>
	<div><MudButton>Add</MudButton></div>
</div>
<ManagerBottomBar/>

@code {
	private string _value;
	private string _value2;
	private string _value3;

	private DateRange _dateRange { get; set; }


	private readonly string[] _pageSelect = { "Jobsite", "Schedule", "Status", "Progress", "Request", "Notification" };
	private readonly string[] _jobSelect = { "Job1", "Job2" };

	private readonly string[] _namePlaceholder = { "Jeff", "Bob", "Alice", "Susan" };
	private readonly string[] _todoPlaceholder = { "do 1", "do 2", "do 3", "do 4" };

	// placeholder
	private void Back()
	{
		Nav.NavigateTo("/employee-dashboard");
	}

}
