@using MudBlazor
@namespace CapstoneMaui.Core.Components.Pages
@inject NavigationManager Nav

@page "/manager-request"

<style>
	.users {
	  display: flex;
	  justify-content: space-between;
	  flex-wrap: wrap;
	}
	.border {
		border-style: solid;
		border-width: 1px;
	}
	.textStandard {
		font-size: 20px; 
		font-weight:bold;
	}
	.headingText {
		display: flex;
		justify-content: space-between;
		margin-left: 5px;
		margin-right: 5px;
	}
	.marginStandard {
		margin-left: 20px;
		margin-right: 20px;
	}

</style>

<div style="position: relative; left: 5px; margin-top: 5px;">
	<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBackIos" Color="Color.Secondary" OnClick=Back>
		Back
	</MudButton>
</div>


<MudDivider DividerType="DividerType.Middle"/>

<div class="ma-0" style="height:600px;overflow: auto; ">
	<MudPaper Elevation="0"Outlined="false" Height="1000px">
		@foreach (var name in _namePlaceholder)
		{
			<div style="margin-bottom: 10px;" class="users border">
				<!--Holds the users name-->
				<div class="usersElement textStandard marginStandard">
					@name
				</div>
				<!--Holds the request type-->
				<div class="usersElement textStandard marginStandard">
					Example
				</div>
				<!--Holds the (optional) text the user supplies, default to "no reason provided" if no text to save messing with formatting again?-->
				<div class="usersElement">
					<p class="border">Example Reason</p>
					<MudDateRangePicker @bind-DateRange="@_dateRange" Margin="Margin.Dense" PlaceholderStart="Start Date" PlaceholderEnd="End Date" Label="Range"/>
				</div>
				<!--Approve button-->
				<div class="usersElement marginStandard">
					<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check" Color="Color.Secondary" Style="float:right;"></MudButton>
				</div>
				<!--Deny button-->
				<div class="usersElement marginStandard">
					<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.DoNotDisturb" Color="Color.Secondary" Style="float:right;"></MudButton>
				</div>
			</div>

				
		}
	</MudPaper>
</div>

<ManagerBottomBar/>

@code {
	private string _value;
	private string _value2;
	private string _value3;

	private DateRange _dateRange { get; set; }


	private readonly string[] _pageSelect = { "Jobsite", "Schedule", "Status", "Progress", "Request", "Notification" };
	private readonly string[] _jobSelect = { "Job1", "Job2" };

	private readonly string[] _namePlaceholder = { "Jeff", "Bob", "Alice", "Susan" };

	// placeholder
	private void Back()
	{
		Nav.NavigateTo("/manager");
	}

}