@using MudBlazor
@namespace CapstoneMaui.Core.Components.Pages
@inject NavigationManager Nav

@page "/manager-schedule"


<ManagerTopBar/>


<MudDivider DividerType="DividerType.Middle" style = "margin-top: 40px;"/>
<div class="ma-0" style="height:500px;overflow: auto;">
	<MudPaper Elevation="0" Outlined="true" Height="1000px">
		@foreach (var name in _namePlaceholder)
		{
			<MudElement Style="font-weight:bold; position: relative; left: 5px; top: 5px; font-size: 20px;">
				@name
			</MudElement>
			<MudContainer id = "employeeSchedules" MaxWidth="MaxWidth.Small">
				<MudDatePicker Label="Start" @bind-Date="_dateOne"/>
				<MudDatePicker Label="End" @bind-Date="_dateTwo"/>
			</MudContainer>
		}
			
	</MudPaper>
</div>

<ManagerBottomBar/>


@code {
	private string _value;
	private string _value2;

	// placeholder
	private DateTime? _dateOne;
	private DateTime? _dateTwo;


	private readonly string[] _pageSelect = { "Jobsite", "Schedule", "Status", "Progress", "Request", "Notification" };
	private readonly string[] _jobSelect = { "Job1", "Job2" };

	private readonly string[] _namePlaceholder = { "Jeff", "Bob", "Alice", "Susan" };

	// placeholder
	private void Back()
	{
		Nav.NavigateTo("/employee-dashboard");
	}

}