@using CapstoneMaui.Core.Services
@using MudBlazor
@using MudBlazor.Components
@using CapstoneMaui.Core.Models
@namespace CapstoneMaui.Core.Components.Pages
@inject AbstractLoggerService Logger
@inject NavigationManager Nav

@page "/manager-schedule"


<ManagerTopBar action="2"/>

	<MudSelect T="Guid" @bind-Value="selectedSite" Label="Select Job Site" Variant="Variant.Outlined">
		<MudSelectItem Value="@sites[0].Id">Downtown Construction Site</MudSelectItem>
		<MudSelectItem Value="@sites[1].Id">Uptown Renovation Project</MudSelectItem>
		<MudSelectItem Value="@sites[2].Id">Suburban Housing Development</MudSelectItem>
	</MudSelect>

<MudDivider DividerType="DividerType.Middle" style = "margin-top: 40px;"/>
<div class="ma-0" style="height:500px;overflow: auto;">
	<MudPaper Elevation="0" Outlined="true" Height="1000px">
		@foreach (var name in _namePlaceholder)
		{
			<MudElement Style="font-weight:bold; position: relative; left: 5px; top: 5px; font-size: 20px;">
				@name
			</MudElement>
			<MudContainer id = "employeeSchedules" MaxWidth="MaxWidth.Small">
				<MudDatePicker Label="Start" @bind-Date="_dateOne"/>
				<MudDatePicker Label="End" @bind-Date="_dateTwo"/>
			</MudContainer>
		}
			
	</MudPaper>
</div>
<ManagerBottomBar/>


@code {
	private string _value;
	private string _value2;

	private Guid selectedSite = Guid.Empty;
	public List<SiteDto> sites = new()
	{
		new SiteDto(Guid.NewGuid(), "Downtown Construction Site", 47.6062, -122.3321, 100),
		new SiteDto(Guid.NewGuid(), "Uptown Renovation Project", 47.6205, -122.3493, 150),
		new SiteDto(Guid.NewGuid(), "Suburban Housing Development", 47.5301, -122.0326, 200)
	};

	// placeholder
	private DateTime? _dateOne;
	private DateTime? _dateTwo;


	private readonly string[] _pageSelect = { "Jobsite", "Schedule", "Status", "Progress", "Request", "Notification" };
	private readonly string[] _jobSelect = { "Job1", "Job2" };

	private readonly string[] _namePlaceholder = { "Jeff", "Bob", "Alice", "Susan" };

	// placeholder
	private void Back()
	{
		Nav.NavigateTo("/employee-dashboard");
	}

}