@using MudBlazor
@namespace CapstoneBlazorApp.Components.Pages
@inject NavigationManager Nav

@page "/notification"

<style>
	.users {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	}
	.border {
	border-style: solid;
	border-width: 1px;
	}
	.textStandard {
	font-size: 20px; 
	font-weight:bold;
	}
	.headingText {
	display: flex;
	justify-content: space-between;
	margin-left: 5px;
	margin-right: 5px;
	}
	.marginStandard {
	margin-left: 20px;
	margin-right: 20px;
	}
	.inputStyle {
	border-style: solid;
	border-width: 1px; 
	border-color: black;
	}
</style>

<div style="position: relative; left: 5px; margin-top: 5px;">
	<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBackIos" Color="Color.Secondary" OnClick=Back>
		Back
	</MudButton>
</div>

<ManagerTopBar/>

<div class="headingText textStandard">
	<div>Notifications</div>
	<div></div>
</div>

<MudDivider DividerType="DividerType.Middle"/>

<div class="ma-0" style="height:500px;overflow: auto; ">
	<MudPaper Elevation="0"Outlined="true" Height="1000px">
		@foreach (var name in _namePlaceholder)
		{
			<div style="margin-bottom: 10px;" class="users border">
				<!--Holds the users name-->
				<div class="usersElement textStandard marginStandard">
					@name
				</div>
				<!--Holds the request type-->
				<div class="usersElement textStandard marginStandard">
					Progress Update
				</div>
				<!--Holds the (optional) text the user supplies, default to "no reason provided" if no text to save messing with formatting again?-->
				<div class="usersElement" style="width:100%;">
					<p class="border">Example</p>
				</div>
			</div>
		}
	</MudPaper>
</div>

	<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBackIos" Color="Color.Secondary" OnClick=ClearAll>
		Clear
	</MudButton>

<ManagerBottomBar/>

@code {
	private string _value;
	private string _value2;
	private string _value3;

	private DateRange _dateRange { get; set; }


	private readonly string[] _pageSelect = { "Jobsite", "Schedule", "Status", "Progress", "Request", "Notification" };
	private readonly string[] _jobSelect = { "Job1", "Job2" };

	private readonly string[] _namePlaceholder = { "Jeff", "Bob", "Alice", "Susan" };
	private readonly string[] _todoPlaceholder = { "do 1", "do 2", "do 3", "do 4" };

	// placeholder
	private void Back()
	{
		Nav.NavigateTo("/manager");
	}
	// placeholder
	private void ClearAll()
	{
		Array.Clear(_namePlaceholder, 0, 4);
		Nav.NavigateTo("/notification");
	}

}
