@using MudBlazor
@namespace CapstoneMaui.Core.Components.Pages
@using Flurl;
@using Flurl.Http;
@using System;
@inject ISnackbar Snackbar
@inject NavigationManager Nav

@page "/employee-request"

<style>
	.users {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	}
	.border {
	border-style: solid;
	border-width: 1px;
	}
	.textStandard {
	font-size: 20px; 
	font-weight:bold;
	}
	.headingText {
	display: flex;
	justify-content: space-between;
	margin-left: 5px;
	margin-right: 5px;
	}
	.marginStandard {
	margin-left: 20px;
	margin-right: 20px;
	}

</style>

<div style="position: relative; left: 5px; margin-top: 5px;">
	<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ArrowBackIos" Color="Color.Secondary" OnClick=Back>
		Back
	</MudButton>
</div>

<MudStack style = "margin-top: 5px;">
<MudDatePicker Label="Start" @bind-Date="_dateOne"/>
<MudDatePicker Label="End" @bind-Date="_dateTwo"/>
<MudTextField Label="Reason" Variant="Variant.Outlined" AutoGrow Style="width: 100%;" @bind-Value="reason" />

<MudButton Variant="Variant.Filled" Color="Color.Secondary" OnClick=request>
	request
</MudButton>

</MudStack>

@code {

	DateTime? _dateOne;
	DateTime? _dateTwo;
	string? reason;

	private void Back()
	{
		Nav.NavigateTo("/employee-dashboard");
	}

	public async Task request()
	{
		try {
			var response = await "http://10.0.2.2:5162/api/RequestOff"
				.WithOAuthBearerToken("eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI0IiwiZW1haWwiOiJzdHJpbmciLCJkaXNwbGF5TmFtZSI6InN0cmluZyIsIm5iZiI6MTc2MzMyMzQzNSwiZXhwIjoxODUzMzIzNDM1LCJpc3MiOiJDYXBzdG9uZUFQSSIsImF1ZCI6IkNhcHN0b25lQ2xpZW50In0.ECKfnoUx3kPVx_Lm_XNrHhc5NQRRdt2rRhxYPDvEPbY")
				.PostJsonAsync(new
				{
					startDate = _dateOne?.ToString("yyyy-MM-dd"),
					endDate = _dateTwo?.ToString("yyyy-MM-dd"),
					note = reason
				});

			var result = await response.GetJsonAsync<dynamic>();

		}
		catch (FlurlHttpException ex) {
			Snackbar.Add(ex.Message, Severity.Error);
		}
	}

}