@using CapstoneMaui.Core.Services.Abstractions
@using Microsoft.JSInterop
@using CapstoneMaui.Core.Models
@using MudBlazor
@inject IJSRuntime JS
@inject AbstractLoggerService Logger
@namespace CapstoneMaui.Core.Components.Pages.Employee

<!-- Filler, replace with actual map later -->
<div id="@_id" style="height:100%; width:90vw;"></div> @* map canvas gets 100% of card *@


@code {
    [Parameter] public Guid currentSiteId { get; set; } = Guid.Empty;
    [Parameter] public IEnumerable<SiteDto>? Sites { get; set; }
    [Parameter] public EventCallback<SiteDto> OnChanged { get; set; }

    bool initialized = false;
    private Guid previousSiteId = Guid.Empty;
    string _id = $"map_{Guid.NewGuid():N}";
    DotNetObjectReference<JobSiteMap>? _ref;

    private async Task FocusOnJobSite(Guid siteId)
    {
        // Logic to focus on the job site on the map
        // This would typically involve calling a JS function to update the map view
        Logger.Log(this,$"Focusing on job site: {siteId}");
        if(siteId == Guid.Empty) return;
        await JS.InvokeVoidAsync("capstoneMap.focusOnLocation", siteId);
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        Logger.Log(this,$"JobSiteMap OnAfterRenderAsync firstRender={firstRender}");
        if (!firstRender) return;
        _ref = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("capstoneMap.init", $"#{_id}", _ref, Sites ?? Array.Empty<SiteDto>());

        if(currentSiteId != Guid.Empty)
        {
            
            await FocusOnJobSite(currentSiteId);
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (initialized && previousSiteId != currentSiteId)
        {
            Logger.Log(this,$"JobSiteMap OnParametersSetAsync previousSiteId={previousSiteId} currentSiteId={currentSiteId}");
            await FocusOnJobSite(currentSiteId);
            previousSiteId = currentSiteId;
        }
        else if (!initialized)
        {
            await FocusOnJobSite(currentSiteId);
            previousSiteId = currentSiteId;
            initialized = true;
        }
    }

    [JSInvokable] public Task OnSiteChanged(SiteDto site) => OnChanged.InvokeAsync(site);

    public async ValueTask DisposeAsync()
    {
        Logger.Log(this,$"Disposing JobSiteMap");
        if (_ref is not null) _ref.Dispose();
        if(initialized)
            await JS.InvokeVoidAsync("capstoneMap.dispose");
    }

}