@using MudBlazor
@using CapstoneMaui.Core.Services.Auth
@using CapstoneMaui.Core.Services.Abstractions
@inject IAuthService AuthService
@inject NavigationManager Nav

@page "/login"

    <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 80vh;">
        <div style="display: flex; flex-direction: column; align-items: center; gap: 8px;">
            <MudTextField Label="Email" Variant="Variant.Outlined" Style="width: 250px;" @bind-Value="_email" />
            <MudTextField Label="Password" Variant="Variant.Outlined" InputType="InputType.Password" Style="width: 250px;" @bind-Value="_password" />
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Style="width: 250px;" OnClick="HandleValidSubmit">Login</MudButton>
        </div>
    </div>

@code {
    private string _email;
    private string _password;

    private bool loggedIn;

    private async Task HandleValidSubmit()
    {
        loggedIn = await AuthService.LoginAsync(_email, _password);
        if(loggedIn) {
            Nav.NavigateTo("/dashboard");
        }
    }
}